table.table.table-striped(ng-if='!$ctrl.empty')
    tbody
        tr
            th Concepto
            th Base
            th Iva
            th Total
            th Eliminar
        tr(ng-repeat="line in $ctrl.lines")
            th(ng-bind='line.concept')
            th(ng-bind='line.base')
            th(ng-bind='line.iva')
            th(ng-bind='line.total')
            th
                button.btn.btn-sm.btn-danger(type='button', ng-click='$ctrl.deleteLine(line.id)')
                    span.glyphicon.glyphicon-trash



