$error-message-color: red;
$error-message-margin-top: 5px;
$margin-input-bottom: 15px;

body {
    padding-top: 60px;
}

.error-message{
    margin-top: $error-message-margin-top;
    color: $error-message-color;
}

.margin-input {
    margin-bottom: $margin-input-bottom;
}